/.DS_Store
/.argon.project.json
*.o
*.a
/__pycache__/
*.pyc
/luaffifb
*.a
*.so
/node_modules

# CMake Ignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
/lxx/CMakeLists.txt.user
/lxx/CMakeCache.txt
/lxx/CMakeFiles
/lxx/cmake_install.cmake
/lxx/Makefile
/lxx/src/CMakeLists.txt.user
/lxx/src/CMakeCache.txt
/lxx/src/CMakeFiles
/lxx/src/cmake_install.cmake
/lxx/src/Makefile
/lxx/src/asm/CMakeLists.txt.user
/lxx/src/asm/CMakeCache.txt
/lxx/src/asm/CMakeFiles
/lxx/src/asm/cmake_install.cmake    
/lxx/src/asm/Makefile
*cmake_install.cmake
*.dylib
*Config.cmake
*CTestTestfile.cmake
