/.DS_Store
/.argon.project.json
*.o
*.a
/__pycache__/
*.pyc
/luaffifb
*.a
*.so
/node_modules
/cobalt
/cobaltc
# CMake Ignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
cmake_install.cmake
Makefile
.DS_Store
*.S
# Personal
/cobalt23/5.1
# Argon be annoying sometimes
/src 

# CMake Ignore (Very large) 
/cobalt23/pre/cobaltpre
/cobalt23/raptor/src/host/buildvm_arch.h
/cobalt23/CMakeLists.txt.user
/cobalt23/CMakeCache.txt
/cobalt23/CMakeFiles
/cobalt23/cmake_install.cmake
/cobalt23/Makefile
/cobalt23/src/CMakeLists.txt.user
/cobalt23/src/CMakeCache.txt
/cobalt23/src/CMakeFiles
/cobalt23/src/cmake_install.cmake
/cobalt23/src/Makefile
*cmake_install.cmake
*.dylib
*Config.cmake
*CTestTestfile.cmake

# Allow 
!/cobalt23/lua-cobalt/Makefile
!/cobalt23/jit/Makefile
!/cobalt23/jit/src/Makefile